cmake-build-debug/
cmake-build-release/
build/
CMakeFiles/
.cmake/
Testing/
CMakeCache.txt
cmake_install.cmake
build.ninja
Makefile

.idea/
.vscode/
.DS_Store
*.swp

*.exe
*.dll
*.a
*.o
*.obj

*.log
logs.txt
.ninja_deps
.ninja_log